################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/git/FileContentIndex/9b202527-bf3b-4803-a1d7-70f3a6f913b7.vsidx
/.vs/git/FileContentIndex/140e5519-b18b-4356-8a4a-3c1debc7fe12.vsidx
/.vs/git/FileContentIndex/140e5519-b18b-4356-8a4a-3c1debc7fe12.vsidx
/.vs/git/FileContentIndex/fcaadcda-0af6-499e-9017-728047734c40.vsidx
/.vs/git/FileContentIndex/196c400f-e8ab-4812-856f-c6c7b0ceaa38.vsidx
/.vs/git/FileContentIndex/196c400f-e8ab-4812-856f-c6c7b0ceaa38.vsidx
/.vs/git/FileContentIndex/196c400f-e8ab-4812-856f-c6c7b0ceaa38.vsidx
/.gitignore
/.vs/git/v17/.suo
/.vs/git/FileContentIndex/a7360ac1-f7aa-4603-aa41-16b06ad7a6af.vsidx
*.vsidx
